#navbar {
    display: flex;
    font-family:monospace;
    background-color: #000000;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 28px;
    height: 9px;
    /* position:fixed; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

#navbar h3 {
    margin-left: 50px;
    /* margin-right: 850px; */
}

  
#navbar a {
    align-items: right;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.2s;  
    justify-content: right;
    color: inherit; 
    margin-left: 9px;
    margin-right: 9px;
}
  
#navbar a:hover {
    color: #1a1ac1;
}